body {
    background-color: black;
    font-family: cursive;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: repeating-linear-gradient(rgb(0,0,0,0.8),rgba(0,0,0,0.8)),url("assets/1235.jpg");
  }
  
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #e60000, 0 0 20px #e68200, 0 0 30px #ffe600, 0 0 40px #6fe600, 0 0 50px #0017e6, 0 0 60px #7700e6, 0 0 70px #e600c7;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.type img 
{
    max-width: 200px;
    position: relative;
}

.type h5
{
    color: #F2AA4CFF;
    font-size: 60;
    text-align: center;
}
div 
{
    color: #F2AA4CFF;
    position: relative;
    justify-content: center;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

#button 
{
    padding: 10px 30px;
    font-weight: bold;
    font-size: larger;
    border-radius: 20px 5px; 
}


